@font-face {
    font-family: ImportedFont;
    src: url("../fonts/CursedTimerUlil-Aznm.ttf");
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/Background_img.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}


@media screen and (max-width: 50rem)  {
    body{
        background-image: none;
        background-color: #34568B !important;
    }
}

/* Style the input form */
input:focus {
    outline-width: 0;
}

#time{
    color: rgb(0, 255, 119);
    -webkit-text-stroke: 1px black;
    font-family: ImportedFont;
    font-size: calc(100% + 4.5vw);
    margin-top: 4.5rem;

}

.card {
    background-color: transparent !important;  
    color: white;
}

.bg-container{
    background-color: black;
    opacity: .73;
    border-radius: 0.375rem;
}









